@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    /***** Light Mode *****/
    --light-primary: #F63245;
    --ligt-secondary: #202020;
    --bg-light-primary: #FFFFFF;
    --bg-light-secondary: #cccccc;

    /***** Dark Mode *****/
    --dark-primary: #eb5362;
    --dark-secondary: #dbdbdb;
    --bg-dark-primary: #191919;
    --bg-dark-secondary: #282828;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-light-primary);
    transition: 400ms;
}

body.dark-mode {
    background-color: var(--bg-dark-primary);
}

.top-bottom {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: var(--light-primary);
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid var(--bg-light-primary);
    color: var(--bg-light-primary);
    animation: fade-in 500ms;
}

.top-bottom > i {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

body.dark-mode .top-bottom {
    background-color: var(--dark-primary);
    border-color: var(--bg-dark-primary);
    z-index: 1;
}

.nav {
    height: 10vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-item a {
    color: var(--light-secondary);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: 200ms;
}

.nav-item a:hover {
    color: var(--light-primary);
}

body.dark-mode .nav-item a {
    color: var(--dark-secondary);
}

body.dark-mode .nav-item a:hover {
    color: var(--dark-primary);
}

#info {
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.user-image {
    border: 5px solid var(--light-primary);
    border-radius: 50%;
    height: 225px;
    width: 225px;
}

body.dark-mode .user-image {
    border: 5px solid var(--dark-primary);
    filter: brightness(.8) contrast(1.2);
}

#info > section {
    width: 100%;
}

#info > section > h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#info > section > p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    line-height: 1.5em;
}

body.dark-mode #info > section > h1, 
body.dark-mode #info > section > p {
    color: var(--dark-secondary);
}

#projects {
    height: 100vh;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-image {
    width: 100%;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

body.dark-mode .card-image {
    filter: brightness(.8) contrast(1.2);
}

.card-project {
    background-color: var(--bg-light-primary);
    border: 1px solid var(--bg-light-secondary);
    border-radius: 5px;
    color: var(--light-secondary);
    transition: 200ms;
    margin: 10px;
}

.card-project:hover {
    border: 1px solid var(--bg-light-secondary);
    box-shadow: 0 0 20px var(--bg-light-secondary);
}

body.dark-mode .card-project {
    background-color: var(--bg-dark-secondary);
    border: none;
    box-shadow: none;
    color: var(--dark-secondary);
}

.card-content {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 5px 20px;
}

.card-content > h3 {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
}

.card-content > p {
    text-align: justify;
}

.card-info {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 15px;
}

.card-info a {
    text-decoration: none;
    color: var(--light-secondary);
    margin-right: 25px;
}

#contact {
    align-items: center;
    display: flex;
    height: 94vh;
    justify-content: space-around;
}

.link-contact {
    align-items: center;
    color: var(--ligt-secondary);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: 250ms;
}

.link-contact > i {
    font-size: 2em;
    margin-bottom: 5px;
}

.link-contact:hover {
    color: var(--light-primary);
}

body.dark-mode .link-contact {
    color: var(--dark-secondary);
}

body.dark-mode .link-contact:hover {
    color: var(--dark-primary);
}

footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: var(--light-primary);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: var(--bg-light-primary);
}

body.dark-mode footer {
    background-color: var(--bg-dark-secondary);
    color: var(--dark-secondary);
}

@media(max-width: 1025px) {
    
    .user-image {
        height: 170px;
        width: 170px;
    }

    .card-content {
        font-size: .9em;
    }

    .card-info a i {
        font-size: 1.6em;
    }
    
    .card-info a span {
        font-size: .6em;
    }

    .nav-item a, footer > p {
        font-size: .8em;
    }

}

@media(max-width: 770px) {

    #info > section > h1 {
        font-size: 1.5em;
    }

    #projects {
        height: auto;
        margin: 25px auto;
    }

    
}

@media(max-width: 426px) {
    #projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 376px) {
    #info > section > h1 {
        font-size: 1.3em;
    }

    .user-image {
        height: 160px;
        width: 160px;
        margin-top: 25px;
    }

}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}