@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    /* Light Mode */
    --light-primary: #F63245;
    --light-secondary: #202020;
    --bg-light: #FFFFFF;

    /* Dark Mode */
    --dark-primary: #eb5362;
    --dark-secondary: #dbdbdb;
    --bg-dark: #191919;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-light);
    transition: 400ms;
}

body.dark-mode {
    background-color: var(--bg-dark);
}

.nav {
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-item a {
    color: var(--light-secondary);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 200ms;
}

.nav-item a:hover {
    color: var(--light-primary);
}

body.dark-mode .nav-item a {
    color: var(--dark-secondary);
}

body.dark-mode .nav-item a:hover {
    color: var(--dark-primary);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card {
    height: 600px;
    width: 400px;
    border-radius: 10px;
    color: var(--light-secondary);
    background-color: var(--bg-light);
    border: 1px solid #cccccc;
    transition: 200ms;
}

.card:hover {
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 35px #cccccc;
}

body.dark-mode .card {
    color: var(--dark-secondary);
    box-shadow: none;
    background-color: #282828;
    border: none;
}

.card-header {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.card-body {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.card-footer {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.user-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 6px solid var(--light-primary);
    margin-top: 50px;
}

body.dark-mode .user-image {
    filter: brightness(.8) contrast(1.2);
    border: 6px solid var(--dark-primary);
} 

.card-header > h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.card-header > p {
    margin: -10px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--light-primary);
}

body.dark-mode .card-header > p {
    color: var(--dark-primary);
}

.card-body > p {
    line-height: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
}

.card-footer a {
    text-decoration: none;
    color: var(--light-secondary);
}

.card-footer a i {
    font-size: 1.9em;
    transition: 200ms;
    display: flex;
    flex-direction: column;
}

.card-footer a span {
    font-size: .8em;
    font-weight: bold;
}

.card-footer a:hover {
    color: var(--light-primary);
}

body.dark-mode .card-footer a {
    color: var(--dark-secondary);
}

body.dark-mode .card-footer a:hover {
    color: var(--dark-primary);
}

footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 6vh;
    background-color: var(--light-primary);
}

footer > p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .9em;
    color: var(--bg-light);
}

body.dark-mode footer {
    background-color: #282828;
}

body.dark-mode footer > p {
    color: var(--dark-secondary);
}

@media(max-width: 768px) {
    
    .card {
        height: 500px;
        width: 325px;
    }

    .user-image {
        height: 170px;
        width: 170px;
    }

    .card-header > h1 {
        font-size: 1.3em;
    }

    .card-body > p {
        font-size: .9em;
    }

    .card-footer a i {
        font-size: 1.7em;
    }
    
    .card-footer a span {
        font-size: .7em;
    }

    .nav-item a, footer > p {
        font-size: .8em;
    }

}

@media(max-width: 426px) {
    .card {
        height: 525px;
        width: 330px;
    }
}

@media(max-width: 376px) {
    .card {
        height: 515px;
        width: 300px;
    }

    .user-image {
        height: 150px;
        width: 150px;
        margin-top: 25px;
    }
}