@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.nav {
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-item a {
    color: #202020;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
}

main {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 625px;
    width: 425px;
    border-radius: 10px;
    box-shadow: 0 0 16px #cccccc;
    color: #202020;
    background-color: #ffffff;
    border: 1.5px solid #cccccc;
}

.card-header {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.card-body {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.card-footer {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.user-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #E92538;
    margin-top: 40px;
}

.card-header > h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.card-header > p {
    margin: -10px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #E92538;
}

.card-body > p {
    line-height: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
}

.card-footer a {
    font-size: 1.8em;
    color: #202020;
    transition: 500ms;
}

.card-footer a:hover {
    color: #E92538;
}

.btn-outline {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    transition: 800ms;
}

.btn-outline:hover {
    background-color: #E92538;
}

@media(max-width: 768px) {
    
    .card {
        height: 550px;
        width: 350px;
    }

    .user-image {
        height: 170px;
        width: 170px;
    }

    .card-header > h1 {
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .card-footer a {
        font-size: 1.6em;
    }

    .nav-item a {
        font-size: .8em;
    }

}